<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<h1>Reset Password</h1>
				
				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">Success, Your Password has been successfully changed</div>
				</div>
					
				<div th:if="${param.failure}">
					<div class="alert alert-info">Unable to reset the password... Try Again</div>
				</div>

<br>
<br>
				<form th:action="@{/reset-password}" method="post" th:object="${resetPasswordDto}">

					<div class="form-group">
						<label class="control-label" for="username"> User Name </label> 
						<input
							id="username" class="form-control" th:field="*{userName}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="securitycode"> Security Code </label> 
						<input
							id="securitycode" class="form-control" th:field="*{securityCode}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="newpassword"> New Password </label> 
						<input
							id="newpassword" class="form-control" th:field="*{newPassword}" required
							autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="confirmpassword"> Confirm Password </label> 
						<input
							id="confirmpassword" class="form-control" th:field="*{confirmPassword}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>